xmlPractice/src/main/resources/insuranceCompany.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsuranceCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Company">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Policies">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Policy">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CustomerId" type="xs:string" />
                          <xs:element name="Premium" type="xs:unsignedShort" />
                          <xs:element name="Coverage" type="xs:unsignedShort" />
                          <xs:element name="AgentId" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Customers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Customer">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="Age" type="xs:unsignedByte" />
                          <xs:element name="Address" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Agents">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Agent">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Type" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Claims">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Claim">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PolicyId" type="xs:string" />
                          <xs:element name="Amount" type="xs:unsignedShort" />
                          <xs:element name="Description" type="xs:string" />
                          <xs:element name="Status" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Payments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Payment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PolicyId" type="xs:string" />
                          <xs:element minOccurs="0" name="Type" type="xs:string" />
                          <xs:element name="Amount" type="xs:unsignedShort" />
                          <xs:element name="Date" type="xs:date" />
                          <xs:element name="Status" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>